<!doctype html>
<html>
	{% include 'head.twig' %}
	<body>
		<div id="page">
			{% include 'navigation.twig' with {selected: "about", isAdmin: isAdmin} %}
			<div id="body" class="about">
				<div class="header">
					<div>
						<h1>{{title}}</h1>
						<h2>Friendly front door to space</h2>
						<p>
							<quote>
	"The Cosmos is all that is or ever was or ever will be. Our feeblest contemplations of the Cosmos stir us — there is a tingling in the spine, a catch in the voice, a faint sensation as if a distant memory, of falling from a height. We know we are approaching the greatest of mysteries."
							</quote>
						</p>
						<p>
						 Carl Sagan
						</p>
					</div>
				</div>
			</div>
			{% include 'footer.twig' %}
		</div>
	</body>
</html>
