<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
	{% include 'head.twig' %}
	<body>
		<div id="page">
			{% set selected = "add" %}
			{% include 'navigation.twig' with selected %}
			<div id="body">
				<div class="header">
					<div class="contact">
						<h1>{{title}}</h1>

						<form action="/add" id="upload" method="post" enctype="multipart/form-data">
							<input type="text" name="title" id="title" placeholder="Title*">

							<p>Type of space object:</p>
							<select name="type" id="type">
								<option value="planet" selected>Planet</option>
								<option value="moon">Moon</option>
							</select>		

							<input type="number" name="diameter" placeholder="diameter, km">
							<input type="number" name="day" min="1" step="0.1" placeholder="day, in hours">
							<input type="number" name="gravity" min="0" step="0.1" placeholder="gravity">
							<input type="number" name="temperature" min="-273" placeholder="temperature, celsius">
							
							<p>Water:</p>
							<select name="water">
								<option value="No water" selected>No water</option>
								<option value="Some water">Some water</option>
								<option value="Water world">Water world</option>
							</select>	

							<p>Radiation:</p>
							<select name="radiation">
								<option value="Low">Low</option>
								<option value="Middle" selected>Middle</option>
								<option value="High">High</option>
							</select>	

							<p>Magnetosphere:</p>
							<p>
								<label>Yes
									<input type="radio" name="magnetosphere" value="true" />
								</label> 
								<label>No
									<input type="radio" name="magnetosphere" value="false" />
								</label>
							</p>

							<p>Atmosphere:</p>
							<p>
								<label>Yes
									<input type="radio" name="atmosphere" value="true" />
								</label> 
								<label>No
									<input type="radio" name="atmosphere" value="false" />
								</label>
							</p>

							<p>Atmospheric density: {{object.atmosphericDensity}}</p>
							<input type="number" name="atmosphericDensity" min="0" step="0.1" placeholder="Atmospheric density, in part of Earth density...">
							
							<fieldset>
								<legend><p>Specials for planets:</p></legend>
								<input type="number" name="year" placeholder="year, in days">
								<input type="number" name="distanseFromStar" placeholder="Distanse from parent star, mln km">
							</fieldset>

							<fieldset>
								<legend><p>Specials for moons:</p></legend>
								<input type="number" name="distanseFromParentPlanet" placeholder="Distanse from parent planet, thousands km">
								<input type="text" name="parentPlanet" id="parentPlanet" placeholder="Parent planet ">
							</fieldset>
							
							<p>Image (2MB max): <input type="file" name="image"></p>

							<textarea name="description" id="description" cols="50" rows="7">Description*</textarea>
							<input type="submit" value="Send">
						</form>
					</div>
				</div>
			</div>
			{% include 'footer.twig' %}
		</div>
	</body>
</html>
