<!doctype html>
<html>
	{% include 'head.twig' %}
	<body>
		<div id="page">
			{% include 'navigation.twig' with {isAdmin: isAdmin} %}
			<div id="body">
				<div class="header">
					<div>
						<h1>Error</h1>
						<h2>{{hint}}</h2>
						<div class="">
							<form action="/login" method="post">
								<p><input type="text" name="username" placeholder="Login"></p>
								<p><input type="password" name="password" placeholder="Password"></p>
								<input type="submit" value="Send">
							</form>
						</div>
					</div>
				</div>
			</div>
			{% include 'footer.twig' %}
		</div>
	</body>
</html>
