<!doctype html>
<html>
	{% include 'head.twig' %}
	<body>
		<div id="page">
			{% set selected = "home" %}
			{% include 'navigation.twig' with selected %}
			<div id="body" class="home">
				<div class="header">
					<div>
						<h1>{{title}}</h1>
					</div>
				</div>
				<div class="footer">
					<div>
						<ul>
							<li>
								<h1>LATEST planets </h1>
								<ul>
									<li>
										<a href="blog.html"><img src="images/finding-planet.jpg" alt=""></a>
										<h1>FINDING PLANET X-123</h1>
										<span>FEBRUARY 6, 2023</span>
										<a href="blog.html" class="more">Read More</a>
									</li>
									<li>
										<a href="blog.html"><img src="images/new-satellitedish.jpg" alt=""></a>
										<h1>NEW SATELLITE DISH</h1>
										<span>FEBRUARY 3, 2023</span>
										<a href="blog.html" class="more">Read More</a>
									</li>
								</ul>
							</li>
							<li>
								<h1>LATEST moons</h1>
								<ul>
									<li>
										<a href="blog.html"><img src="images/finding-planet.jpg" alt=""></a>
										<h1>FINDING PLANET X-123</h1>
										<span>FEBRUARY 6, 2023</span>
										<a href="blog.html" class="more">Read More</a>
									</li>
									<li>
										<a href="blog.html"><img src="images/new-satellitedish.jpg" alt=""></a>
										<h1>NEW SATELLITE DISH</h1>
										<span>FEBRUARY 3, 2023</span>
										<a href="blog.html" class="more">Read More</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			{% include 'footer.twig' %}
		</div>
	</body>
</html>
