<div id="header">
    <div class="hdr">
        <div id="searchBlock" class="hide">
            <form action="/search" method="get">
                <input type="text" name="search" placeholder="Search">
                <input type="submit" value="Send">
            </form>
        </div>
        <div id="loginBlock" class="hide">
            <form action="/login" method="post">
                <p><input type="text" name="username" placeholder="Login"></p>
                <p><input type="password" name="password" placeholder="Password"></p>
                <input type="submit" value="Send">
            </form>
        </div>
        <a href="/" class="logo"><img src="/images/logo.png" alt=""></a>
        <ul id="navigation">
            <li class="{% if selected == "home" %}selected{% endif %} menu">
                <a href="/">Home</a>
            </li>
            <li class="{% if selected == "about" %}selected{% endif %} menu">
                <a href="/about">About</a>
            </li>
            <li class="{% if selected == "planets" %}selected{% elseif selected == "moons" %}selected{% endif %} menu">
                <a href="/" id="index">Index</a>
                <ul class="primary">
                    <li>
                        <a href="/planets">Planets</a>
                    </li>
                    <li>
                        <a href="/moons">Moons</a>
                    </li>
                </ul>
            </li>
            {% if isAdmin %}
            <li class="{% if selected == "add" %}selected{% endif %} menu">
                <a href="/add">Add post</a>
            </li>
            {% endif %}
        </ul>
        <ul id="navigation_right">
            <li class="menu login">
                {% if not isAdmin %}
                    <a href="/" id="loginOpenButton" title="Login"><img src="/images/login.png" alt="Login"></a>
                {% else %}
                    <a href="/logout" id="logoutButton" title="Logout"><img src="/images/logout.png" alt="Logout"></a>
                {% endif %}
            </li>
            <li class="menu search">
                <a href="/" id="searchOpenButton" alt="Search"><img src="/images/search.png" alt=""></a>
            </li>
        </ul>    
    </div>
</div>
